@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FFD53D;
    font-family: 'Acme';
  }
  
  main {
    flex: 1;
  }
  
  footer.page-footer {
    padding-top: 0;
  }